{% extends '../base.html' %}
{% load static form_tags widget_tweaks %}

{% block title %}Update Settings{% endblock title %}
    
{% block page_title %}Update Settings{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Settings</li>
{% endblock breadcrumb %}

{% block main_content %}
<div class="card m-4">
    <form method="post">
        {% csrf_token %}
        <div class="card-header">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                </div>
            </div>
        </div>
        <div class="card-body">
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
                
            {% for field in form %}
            <div class="row">
                <div class="col-md-6 form-group">
                    {{ field.label_tag }}

                    {% render_field field class=field|input_class %}
                    {% for error in field.errors %}
                        <div class="text-danger">
                            <small>{{ error }}</small>
                        </div>
                    {% endfor %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">
                            {{ field.help_text|safe }}
                        </small>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary" name="save">Save</button>
            <a href="{% url 'dashboard' %}" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>

{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#menu_rec").addClass("active");
            $("#menu_settings").addClass("active");

            let status = "{{ status }}";
            if (status === "success") {
                toastr.success("Settings updated successfully");
            } else if (status === "error") {
                toastr.error("Failed to update settings");
            }
        })
    </script>
{% endblock js %}