{% extends '../base_accounts.html' %}
{% load static %}

{% block title %}Log in{% endblock title %}

{% block content %}
  
  <div class="login-box-msg">
    <h3>Monitoring System</h3>
    Sign in to start your session
  </div>

  <form method="post" novalidate>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    {% include '../includes/form.html' %}
    <div class="row">
      <div class="col-8">
      </div>
      <!-- /.col -->
      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
      </div>
      <!-- /.col -->
    </div>
  </form>
{% comment %} 
  <p class="mb-1">
    <a href="#">I forgot my password</a>
  </p>
{% endcomment %}
{% endblock content %}

{% block js %}

<script>
  $(document).ready(function() {
      
      let parent1 = $("#id_username").parent();
      add_icon(parent1, '<i class="fas fa-user"></i>')

      let parent2 = $("#id_password").parent();
      add_icon(parent2, '<i class="fas fa-lock"></i>')

      function add_icon(parent, icon) {
        parent.addClass("input-group");
        let grp_append = $("<div></div>");
        grp_append.addClass("input-group-append");
        let span = $("<span></span>").html(icon);
        span.addClass("input-group-text");
        grp_append.append(span);
        parent.append(grp_append);
      }

      $("label").css('width', '100%')
  });
</script>
{% endblock js %}