{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}


{% block css %}
<style>
  .bulletin-title {
    font-size: larger;
    cursor: pointer;
  }
  .bulletin-info {
    font-size: small;
  }
  #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
</style>
{% endblock css %}  

{% block wrapper %}

{% endblock wrapper %}
  
{% block page_title %}Dashboard{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
{% endblock breadcrumb %}
    

{% block main_content %}   

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Greeting section -->
        <div class="row mb-2">
          <div class="col-12">
            <h5>{{ greeting }}</h5>
          </div>
        </div>
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ boat_count }}</h3>

                <p>Boats Registered</p>
              </div>
              <div class="icon">
                <i class="fas fa-ship"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{% widthratio setting.post_rate 1000 1 %} <sup style="font-size: 20px">seconds</sup></h3>

                <p>Posting Interval</p>
              </div>
              <div class="icon">
                <i class="fas fa-clock"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ setting.critical_pitch_angle }}<sup style="font-size: 20px">°</sup></h3>

                <p>Critical Pitch Angle</p>
              </div>
              <div class="icon">
                <i class="fas fa-circle-exclamation"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ setting.critical_roll_angle }}<sup style="font-size: 20px">°</sup></h3>

                <p>Critical Roll Angle</p>
              </div>
              <div class="icon">
                <i class="fas fa-triangle-exclamation"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->

        <!-- Map row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-12 connectedSortable">
            <!-- Map -->
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">
                  <i class="fas fa-map-marked mr-1"></i>
                  Map
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body table-responsive">
                <div id="map"></div>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
            
          </section>
          <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->

        <div class="row">
          <!-- Left col -->
          <section class="col-lg-12 connectedSortable">
            <!-- Bulletin -->
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">
                  <i class="fas fa-thumbtack mr-1"></i>
                  Bulletin
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body table-responsive">
                <table class="table table-sm">
                  
                  {% if not bulletin_list %}
                  <tr><td>The bulletin is clear. I think that's good news!</td></tr>
                  {% else %}
                  
                  {% for bulletin in bulletin_list %}
                  <tr><td>
                    <div class="bulletin-title text-primary" data-details="{{ bulletin.message }}">{{ bulletin.title }}</div>
                    <div class="bulletin-info text-muted">Posted at {{ bulletin.created_at }}</div>
                  </td></tr>  
                  {% endfor %}
                           
                  {% endif %}
                </table>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
            
          </section>
          <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    
{% endblock main_content %}


{% block js %}
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<!-- bootboxjs -->
<script src="{% static 'js/bootbox.all.min.js' %}"></script>

<!-- Google Maps -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<script>
  var map;
  var markers = new Array()
  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 11.967422, lng: 121.9178794},
      zoom: 14
    });

    loadMap();
  }
   
  function loadMap() {
    $.ajax({
      type: "GET",
      url: '/api/locations',
      dataType: 'json', // type of response data
      success: function (data) {   // success callback function
        console.log(data);
        const locations = data;
        
        // Create an info window to share between markers.
        const infoWindow = new google.maps.InfoWindow();

        console.log(map);
        // The markers
        resetMarkers()
        const iconBase = "/static/img/dot_";
        for (let i = 0; i < locations.length; i++) {
          const loc = locations[i];
          console.log(loc);
          const marker = new google.maps.Marker({
            position: {lat: loc.latitude, lng: loc.longitude},
            title: loc.name + "\nHeading: " + loc.heading + "\nPitch: " + loc.pitch + "\nRoll: " + loc.roll,
            label: loc.name,
            icon: iconBase + loc.color + ".png", 
            map: map,
          });
          locations[i].marker = marker;
          
          // Add a click listener for each marker, and set up the info window.
          marker.addListener("click", () => {
            infoWindow.close();
            infoWindow.setContent(marker.getTitle());
            infoWindow.open(marker.getMap(), marker);
          });

          markers.push(marker);
        }
      },
      error: function (errorMessage) { // error callback 
          console.log('Error: ' + errorMessage);
      }
    });
  }

  function resetMarkers() {
    for (let i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
    markers = [];
  }

  $(document).ready(function() {
      $("#menu_dashboard").addClass("active");

      $(".bulletin-title").click(function() {
        bootbox.dialog({
            title: $(this).text(),
            message: $(this).data('details')
        });
      });

      const reloadInterval = 500; // half a second. previously: parseInt("{{setting.post_rate}}");
      console.log(reloadInterval);
      setInterval(loadMap, reloadInterval);
  })
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFV4PqAS7hCB8KXmcZ6oM8XC9pJ1cK9GU&callback=initMap&v=weekly"></script>

{% endblock js %}
  