{% extends 'base.html' %}
{% load static %}

{% block extra_header %}
{% include 'includes/datatable.html' %}
{% endblock extra_header %}

{% block title %}Monitoring{% endblock title %}

<!-- Toastr -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

{% block css %}
<style>
  #map, #legend, #focus_row {
    height: 700px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
  hr {
    margin-top: 3px;
    margin-bottom: 6px;
  }
  h3 {
    margin-bottom: 6px;
  }
</style>
{% endblock css %}

{% block wrapper %}

{% endblock wrapper %}

{% block page_title %}Monitoring{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Monitoring</li>
{% endblock breadcrumb %}


{% block main_content %}

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Map row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-10 col-md-6 col-sm-12 connectedSortable">
            <!-- Map -->
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">
                  <i class="fas fa-map-marked mr-1"></i>
                  {{ adopter.name }} Map
                </h3>
              </div>
              <div class="card-body table-responsive">
                <div id="map"></div>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->

          </section>
          <!-- /.Left col -->

          <!-- right col -->
          <section class="col-lg-2 col-md-6 col-sm-12 connectedSortable">

            <!-- Legend -->
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">
                  <i class="fas fa-info-circle mr-1"></i>
                  Information
                </h3>

              </div>
              <div class="card-body table-responsive">
                <div id="legend" class="text-center">
                  <h3 id="boat_count">{{ boat_count }}</h3>
                  <p>Navigating Boat<span id="boat_plural">{{ boat_count|pluralize }}</span></p>
                  <hr />
<!--
                  <h3>{{ y_count }}</h3>
                  <p>Boat{{ y_count|pluralize }} in Yellow Alert</p>
                  <hr />
                  <h3>{{ o_count }}</h3>
                  <p>Boat{{ o_count|pluralize }} in Orange Alert</p>
                  <hr />
                  <h3>{{ r_count }}</h3>
                  <p>Boat{{ r_count|pluralize }} in Red Alert</p>
                  <hr /> -->
                  <h3>{{ setting.critical_pitch_angle }}°</h3>
                  <p>Critical Pitch Angle</p>
                  <hr />
                  <h3>{{ setting.critical_roll_angle }}°</h3>
                  <p>Critical Roll Angle</p>
                  <hr />
                </div>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </section>
        </div>
        <!-- /.row (main row) -->
        {% if focus %}
        <div id="focus_row" class="row">
          <div class="col-12 card">
            <h2 class="card-header text-center" style="padding-top: 30px;">{{ focus.boat.name }}</h2>
            <div class="row">
              <div class="card-body col-6 table-responsive">
                <table id="dtRecord" class="table table-hover table-head-fixed table-sm">
                  <thead>
                      <tr>
                          <th class="text-center">#</th>
                          <th class="text-center">Time Received</th>
                          <th class="text-center">Pitch Angle</th>
                          <th class="text-center">Roll Angle</th>
                      </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
              <div class="card-body col-6">
                <div class="chart">
                  <canvas id="lineChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock main_content %}


{% block js %}
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>

<!-- ChartJS -->
<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>

<!-- bootboxjs -->
<script src="{% static 'js/bootbox.all.min.js' %}"></script>

<!-- Google Maps -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<!-- Toastr -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script src="{% static 'js/formatter.js' %}"></script>
<script>
var details = [];
function showToast(index) {
  const detail = details[index];
  const str = "<span style='font-size: 14pt;'>" +
                "Heading Angle: " + detail.heading +
                "<br/>Pitch Angle: " + detail.pitch +
                "<br/>Roll Angle: " + detail.roll +
                "<br/>Latitude: " + detail.lat +
                "<br/>Longitude: " + detail.lng +
                "<br/>Owner: " + detail.owner +
                "<br/>Contact: " + detail.contact +
                "<br /></span>";
  toastr["info"](str, "<span style='font-size: 14pt;'>Boat Info</span>");
}

// $(document).ready(function() {

  //-------------
  //- LINE CHART -
  //--------------
  var areaChartData = {
    // labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
    labels  : [1, 2, 3, 4, 5],
    datasets: [
      {
        label               : 'Pitch',
        backgroundColor     : 'rgba(60,141,188,0.9)',
        borderColor         : 'rgba(60,141,188,0.8)',
        pointRadius          : false,
        pointColor          : '#3b8bba',
        pointStrokeColor    : 'rgba(60,141,188,1)',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: 'rgba(60,141,188,1)',
        data                : [1, 2, -3, 4, 5]
      },
      {
        label               : 'Roll',
        backgroundColor     : 'rgba(210, 214, 222, 1)',
        borderColor         : 'rgba(210, 214, 222, 1)',
        pointRadius         : false,
        pointColor          : 'rgba(210, 214, 222, 1)',
        pointStrokeColor    : '#c1c7d1',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: 'rgba(220,220,220,1)',
        data                : [5, 4, 3, 1, -2]
      },
    ]
  }

  var areaChartOptions = {
    animation: false,
    maintainAspectRatio : false,
    responsive : true,
    legend: {
      display: true,
      position: 'bottom',
    },
    scales: {
      xAxes: [{
        gridLines : {
          display : false,
        }
      }],
      yAxes: [{
        gridLines : {
          display : false,
        }
      }]
    }
  }

  var intervalVar;
  var map;
  var markers = new Array()
  function initMap() {
    let latitude = parseFloat('{{ adopter.map_center_lat }}');
    let longitude = parseFloat('{{ adopter.map_center_lng }}');
    let zoomLevel = parseInt('{{ adopter.map_zoom }}');
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: latitude, lng: longitude},
      zoom: zoomLevel
    });

    loadMap();
  }

  let labels = [];
  let pitch = [];
  let roll = [];
  let ctr = 0;

  function loadMap() {

    $.ajax({
      type: "GET",
      url: '/api/locations?adopterCode={{ adopter.code }}',
      dataType: 'json', // type of response data
      success: function (data) {   // success callback function
        const locations = data;

        // Create an info window to share between markers.
        const infoWindow = new google.maps.InfoWindow();

        // The markers
        resetMarkers()
        const iconBase = "/static/img/dot_";
        const boat_count = locations.length;
        console.log("boat_count: " + boat_count);
        $('#boat_count').text(boat_count);
        $('#boat_plural').text(boat_count == 1 ? '' : 's');
        for (let i = 0; i < boat_count; i++) {
          const loc = locations[i];
          if (!(loc.latitude > 0)) continue;

          if (ctr % 30 == 0 || ctr <= 1) {
            console.log("Location: " +loc);
            labels.push('');
            pitch.push(loc.pitch);
            roll.push(loc.roll);
            if (labels.length > 100) {
              labels.shift();
              pitch.shift();
              roll.shift();
            }
          }
          ctr++;

          const sos = loc.pitch == 100 && loc.roll == 100;
          const sos_desc = sos ? "SOS! - " : "";
          const sos_html = sos ? "<b>SOS</b><br><br>" : "";
          loc.color = sos ? "purple" : loc.color;

          const direction = (180 + loc.heading) % 360;
          const svgMarker = {
            path: "M137 287 c-29 -44 -38 -104 -31 -192 l7 -85 47 0 48 0 7 84 c7 86 -3 150 -31 194 -18 28 -28 28 -47 -1z m63 -87 c10 -18 9 -19 -15 -8 -19 8 -31 8 -50 0 -24 -11 -25 -10 -15 8 7 13 21 20 40 20 19 0 33 -7 40 -20z",
            fillColor: loc.color,
            fillOpacity: 0.8,
            strokeWeight: 0,
            rotation: direction,
            scale: .15,
            anchor: new google.maps.Point(7, 0),
          };
          const detail = {
              name: loc.name,
              owner: loc.owner,
              contact: loc.ownerContact,
              size: loc.size,
              heading: loc.heading,
              pitch: loc.pitch,
              roll: loc.roll,
              lat: loc.latitude,
              lng: loc.longitude
            };
          details.push(detail);
          const marker = new google.maps.Marker({
            position: {lat: loc.latitude, lng: loc.longitude},
            title: sos_desc + loc.name,
            info:   sos_html +
                    "<b>" + loc.name +
                    "</b><br>Heading: " + loc.heading +
                    "<br>Pitch: " + loc.pitch +
                    "<br>Roll: " + loc.roll +
                    "<br><a href='#' onclick='showToast(" + i + ");'>More info...</a>",
            label: sos_desc + loc.name,
            icon: svgMarker,
            map: map,
          });
          locations[i].marker = marker;

          // Add a click listener for each marker, and set up the info window.
          marker.addListener("click", () => {
            infoWindow.close();
            infoWindow.setContent(marker.info);
            infoWindow.open(marker.getMap(), marker);
            infoWindow.addListener('closeclick', ()=>{
              startTimer();
              infoWindow.close();
            });
            clearInterval(intervalVar);
          });

          markers.push(marker);
        }

        console.log("labels: " + labels);
        console.log("pitch: " + pitch);
        console.log("roll: " + roll);
        if ('{{focus.pk}}' !== '') {
          areaChartData.labels = labels;
          areaChartData.datasets[0].data = pitch;
          areaChartData.datasets[1].data = roll;

          var lineChartCanvas = $('#lineChart').get(0).getContext('2d')
          var lineChartOptions = $.extend(true, {}, areaChartOptions)
          var lineChartData = $.extend(true, {}, areaChartData)
          lineChartData.datasets[0].fill = false;
          lineChartData.datasets[1].fill = false;
          lineChartOptions.datasetFill = false

          var lineChart = new Chart(lineChartCanvas, {
            type: 'line',
            data: lineChartData,
            options: lineChartOptions
          }); 
        }

      },
      error: function (errorMessage) { // error callback
          console.log('Error: ' + errorMessage);
      }
    });
  }

  function resetMarkers() {
    for (let i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
    markers = [];
  }

  function startTimer() {
    const reloadInterval = 1000; // 1 second. previously: parseInt("{{setting.post_rate}}");
    console.log(reloadInterval);

    intervalVar = setInterval(loadMap, reloadInterval);
  }

  let fpk = parseInt("{{ focus.pk }}")
  console.log('fpk = ' + fpk);
  if (fpk > 0) {
    $('#dtRecord').DataTable({
        serverSide: true,
        "pageLength": 500,
        sAjaxSource: "{% url 'focus_record_dtlist' %}",
        columns: [
            {name: "pk", data: 0, className: 'text-center'},
            {
                name: "timestamp",
                data: 1,
                render: function (data) {
                    return formatDate(new Date(data));
                }
            },
            {name: "pitch", data: 6, className: 'text-right'},
            {name: "roll", data: 7, className: 'text-right'},
        ],
        order: [[0, 'desc']],
        "dom": "Bfrtip",
        buttons: [
            'copy', 'excel', 'pdf'
        ]
    });

    const reloadInterval = 30000;
    setInterval(function(){$('#dtRecord').DataTable().ajax.reload();}, reloadInterval);
  }

  $("#menu_monitoring").addClass("active");

  startTimer();

// });
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFV4PqAS7hCB8KXmcZ6oM8XC9pJ1cK9GU&callback=initMap&v=weekly"></script>

{% endblock js %}
